body {
  color: #333;
  font-family: AG-Light, 'Helvetica Neue', Helvetica, Arial, 'Hiragino Sans GB', 'Hiragino Sans GB W3', 'WenQuanYi Micro Hei', sans-serif!important;
}

.x-container {
  width: 100%;
  padding: 20px 65px
}

.help-nav {
  width: 240px;
  float: left;
  border-top: 1px solid #eee;
  padding: 0 12px;
  color: #999;
}

.title img {
  height: 50px;
}

.head-title {
  display: inline-block;
  border-left: 1px solid #aeabab;
  color: #666;
  font-size: 28px;
  padding: 0 16px;
  margin-left: 12px;
  height: 50px;
  line-height: 50px;
}

.help-nav .list-group-item:first-child {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.help-nav .list-group-item:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.help-nav .list-group-item {
  border-right: none;
  border-left: none;
}

.help-main {
  margin-left: 240px;
  position: relative;
  padding: 0px 30px 30px;
  display: block;
  border-left: 1px solid #eee;
  border-top: 1px solid #eee;
  color: #999;
  line-height: 2;
}

.help-footer {
  color: #a6b0b3;
  padding-bottom: 20px;
}
.lang-box{
  height: 55px;
  padding:32px 20px;
  text-align: right;
}

.lang-box #langSelect{
  maring-top:20px;
}

@media (max-width:768px) {
  .x-container {
    padding: 20px;
  }
  .help-nav {
    padding: 0;
    width: 100%;
  }
  .help-main {
    width: 100%;
    position: static;
    margin-left: 0px;
    padding: 0px 10px 10px;
    border-left: none;
  }
}
