.container {
  margin: 50px auto 10px;
  max-width: 960px;
}

img.img-responsive {
  display: block;
  margin: 0 auto;
  text-align: center;
  clear:both;
}

.ds-block{
	display: block;
	text-align: center;
}

img.inline-img{
	display: inline;
	height: 40px;
}

#langSelect{
  width: 200px;
}

#langSelectBox{
  margin: 10px auto;
  max-width: 300px;
}
.table{
  width: auto;
}